<h1><%= @team.city %> <%= @team.name %></h1>

<% @team.posts.each do |post| %>


    <a href="/users/<%= post.user.slug %>">@<%= post.user.username%></a>
    <a href="/posts/<%= post.id %>"><%= post.content %></a>

<% end %>