<div class="center">
    <h1><%= @team.city %> <%= @team.name %></h1>

    <br>
    <br>

    <a href="/posts/new">New Post</a>

    <br>
    <br>

        <% posts = @team.posts.sort_by {|post| post.id}.reverse %>
        <% @team.posts.each do |post| %>

            <h4><a href="/users/<%= post.user.slug %>">@<%= post.user.username%></a></h4>
            <h4><a href="/posts/<%= post.id %>"><%= post.content %></a></h4>

        <% end %>
</div>