<h1><%= @user.username %>'s posts!</h1>

<% posts = @user.posts.sort_by {|post| post.id}.reverse %>
<% posts.each do |post| %>

    <a href="/users/<%= post.user.slug %>">@<%= post.user.username %></a>
        
    <a href="/posts/<%= post.id %>"><%= post.content %></a>

<% end %>
