<div class="center">
    <h1><%= @user.username %>'s posts!</h1>

    <% posts = @user.posts.sort_by {|post| post.id}.reverse %>
    <% posts.each do |post| %>

        <h4><a href="/users/<%= post.user.slug %>">@<%= post.user.username %></a></h4>
            
        <h4><a href="/posts/<%= post.id %>"><%= post.content %></a></h4>

        <% if @user == current_user %>
            <a href="/posts/<%= post.id %>/edit"><input type="submit" value="Edit"></a>
            <form action="/posts/<%= post.id %>/delete" method="post">
                <input type="hidden" name="_method" value="delete">
                <input class="submit" type="submit" value="Delete" id="Delete">
            </form>
            <br>
        <% end%>


    <% end %>
</div>