<h1><% if @user == current_user %> Your <% else %> <%= current_user.username %>'s <% end %> posts!</h1>
<% posts = current_user.posts.sort_by {|post| post.id}.reverse %>
<% posts.each do |post| %>

            <a href="/users/<%= post.user.slug %>">@<%= post.user.username %></a>
        
            <a href="/posts/<%= post.id %>"><%= post.content %></a>

<% end %>
