<div class="center">
    <h1> Welcome, <%= current_user.username %></h1>
    <h3>Here's the lastest:</h3>

    <% @posts.each do |post| %>

        <h4><a href="/users/<%= post.user.slug %>">@<%= post.user.username %></a></h4>

        <h4><a href="/posts/<%= post.id %>"><%= post.content %></a></h4>
        <br><br>

    <% end %>
</div>